/* _________________________CABECERA_________________________ */

/* _________________________MAIN_________________________ */

.main {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    align-items: center;
    flex-grow: 1;
}

.gameImg {
    max-width: 10%;
}

.buttonGroup {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    align-items: center;
}

.buttonGroup button {
    border: 4px solid #00ff00;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
}

.buttonGroup {
    /* Para agrupar los botones en una sola línea */
    display: flex;
    /* Para que sean en línea */
    justify-content: space-around;
    /* Para que se alineen horizontalmente */
    align-items: center;
    /* Para que se alineen verticalmente */
    gap: 30px;   
}

.sessionButton {
    border: 4px solid #00ff00;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
    width: 150px;
    text-decoration: none;
    align-self: center;
    text-align: center;
}

.sessionButton:hover {
    background-color: #00ff00;
    color: #000000;
}
/*_________________________FOOTER_________________________*/