/* _________________________CABECERA_________________________ */

/* _________________________MAIN_________________________ */

.main {
    display: flex;
    justify-content: space-evenly;
    flex-flow: column nowrap;
    align-items: center;
    flex-grow: 1;
}

.gameImg {
    transition: all 0.3s ease;
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 300px;
}

.sessionButton {
    display: inline-block;
    width: 250px;
    padding: 20px;
    border: 4px solid #00ff00;
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    font-size: 20px;
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sessionButton:hover {
    background-color: #00ff00;
    color: #000000;
    box-shadow: 0 0 20px #00ff00, 0 0 20px #00ff00;
    /* transform: scale(1.1); */
}

.loginButtonDisplay {
    display: block;
}

.loginButtonUndisplay {
    display: none;
}

.playButtonDisplay {
    display: block;
}

.playButtonUndisplay {
    display: none;
}

/*_________________________FOOTER_________________________*/