* {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
}

body {
    background-image: url("../SOURCE/spacep.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.container {
    margin: auto;
    display: flex;
    flex-flow: column wrap;
}

/* _________________________CABECERA_________________________ */

/* _________________________MAIN_________________________ */

.main {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    grid-row: 2;
    align-items: center;
}

.gameImg {
    max-width: 10%;
}

.buttonGroup {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    align-items: center;
}

.buttonGroup button {
    border: 4px solid #00ff00;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
}

.buttonGroup {
    /* Para agrupar los botones en una sola línea */
    display: flex;
    /* Para que sean en línea */
    justify-content: space-around;
    /* Para que se alineen horizontalmente */
    align-items: center;
    /* Para que se alineen verticalmente */
}


/*_________________________FOOTER_________________________*/

footer {
    border: 4px solid #00ff00;
    /* Borde verde brillante */
    padding: 10px;
    /* Alineándola a la derecha */
    background-color: rgba(0, 0, 0, 0.8);
    /* Fondo negro semi-transparente */
    color: #ffffff;
    /* Color del texto en blanco */
    font-family: 'Press Start 2P', cursive;
    /* Fuente de estilo retro */
    font-size: 14px;
    /* Tamaño de fuente */
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
    /* Sombra para el texto */
}