* {
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border: 4px solid #00ff00;
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
    border-radius: 10px;
    width: 90%;
    max-width: 600px; /* Limita el ancho máximo del formulario */
    margin: 20px;
    text-align: center;
}

h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: center;
}

label {
    margin-bottom: 5px;
    color: #ffffff;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #00ff00;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    text-shadow: 0 0 3px #00ff00;
}

input[readonly] {
    background-color: rgba(0, 0, 0, 0.5);
    color: #6c757d;
    border-color: #00ff00;
    cursor: not-allowed;
}

#profile_form button {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    border: 3px solid #00ff00;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
    transition: all 0.3s ease;
}

#profile_form button:hover {
    background-color: #00ff00;
    color: #000000;
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
}

.image-input {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    background-color: #f0f0f0;
    margin: 0 auto;
}

.image-preview {
    display: flex;
    align-items: center;
    justify-content: center;
}

#imagePreview {
    max-width: 100%;
    max-height: 100%;
}
