* {
    box-sizing: border-box;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border: 4px solid #00ff00;
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    width: 90%;
    max-width: 600px;
    /* Prevents form from getting too large */
    margin: 20px;
}

h2 {
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: center;
}

label {
    margin-bottom: 5px;
    color: #ffffff;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #00ff00;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    text-shadow: 0 0 3px #00ff00;
}

input[readonly] {
    background-color: rgba(0, 0, 0, 0.5);
    color: #6c757d;
    border-color: #00ff00;
    cursor: not-allowed;
}

#profile_form button {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    border: 3px solid #00ff00;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
    transition: all 0.3s ease;
}

#profile_form button:hover {
    background-color: #00ff00;
    color: #000000;
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
}

.image-input {
    display: flex; /* Usar flexbox para centrar el contenido */
    align-items: center; /* Alinea verticalmente al centro */
    justify-content: center; /* Alinea horizontalmente al centro */
    cursor: pointer; /* Cambia el cursor al pasar sobre el 치rea */
    border: 1px solid #ccc; /* Borde para el contenedor */
    border-radius: 5px; /* Opcional: esquinas redondeadas */
    width: 150px; /* Ancho del contenedor */
    height: 150px; /* Altura del contenedor */
    overflow: hidden; /* Oculta cualquier parte de la imagen que exceda el contenedor */
    background-color: #f0f0f0; /* Color de fondo para el 치rea de imagen */
    margin: 0 auto; /* Centra el recuadro horizontalmente en su contenedor */
}

.image-preview {
    display: flex; /* Utiliza flexbox para centrar la imagen */
    align-items: center; /* Alinea verticalmente la imagen */
    justify-content: center; /* Alinea horizontalmente la imagen */
}

#imagePreview {
    max-width: 100%; /* M치ximo ancho de la imagen dentro del contenedor */
    max-height: 100%; /* M치xima altura de la imagen dentro del contenedor */
}
