* {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
}

body {
    background-image: url("../SOURCE/spacep.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
    height: 100%;
}

.container {
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    min-height: 100dvh;
}

.main {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    align-items: center;
    flex-grow: 1;
}

/* Estilo para la tabla en general */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

/* Estilo para el encabezado de la tabla */
table th {
    background-color: #f2f2f2;
    /* Color de fondo para el encabezado */
    color: #333;
    /* Color del texto en el encabezado */
    padding: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 1.1em;
}

/* Agregar cursor de pointer a la columna "Nombre" para indicar ordenación */
table th:hover {
    cursor: pointer;
}

/* Estilo para las celdas del cuerpo de la tabla */
table td {
    padding: 10px;
    color: #555;
    /* Color ligeramente diferente para el texto de las celdas */
    border-bottom: 1px solid #ddd;
    /* Línea inferior en cada celda */
    font-size: 1em;
}

/* Estilo para las filas de la tabla alternadas */
table tr:nth-child(even) {
    background-color: #f9f9f9;
    /* Color de fondo para las filas pares */
}

/* Cambiar color de fondo de la fila al pasar el cursor */
table tr:hover {
    background-color: #f1f1f1;
}


/* _________________________CABECERA_________________________ */


/* _________________________MAIN_________________________ */


/*_________________________FOOTER_________________________*/