* {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
}

.container {
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    justify-content: space-between;
    min-height: 100dvh;
    /* Empuja el footer al fondo */
}

h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: white;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
}

.main {
    display: flex;
    flex-direction: column; /* Alineación vertical */
    align-items: center; /* Centrado horizontal de los elementos */
    justify-content: center; /* Centrado vertical de los elementos */
    padding: 20px 0;
}


#tabla-container {
    width: 90%;
    /* Ajusta al ancho deseado (90% del contenedor principal) */
    max-width: 1400px;
    /* Controla el ancho máximo para pantallas grandes */
}

/* SCROLL */
.scrollable-tbody {
    display: block;
    max-height: calc(5 * 75px);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #00ff00 rgba(0, 0, 0, 0.5);
}

/* Ancho del Scroll */
.scrollable-tbody::-webkit-scrollbar {
    width: 12px;
}

/* Fondo */
.scrollable-tbody::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* Parte móvil del scroll */
.scrollable-tbody::-webkit-scrollbar-thumb {
    background: #00ff00;
    border-radius: 10px;
}

.scrollable-tbody::-webkit-scrollbar-thumb:hover {
    background: #009900;
}

/* FIN SCROLL */

table {
    width: 100%;
    /* La tabla ocupará todo el ancho del contenedor */
    border: 4px solid #00ff00;
    border-collapse: collapse;
    margin-top: 20px;
}


table th,
table td {
    padding: 10px;
    /* Espaciado dentro de las celdas */
    text-align: center;
    /* Alinear el texto a la izquierda */
    overflow: hidden;
}

table th {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
    color: #ffffff;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
}

table td {
    padding: 10px;
    color: #ffffff;
    border-bottom: 1px solid #ddd;
    font-size: 1.1em;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
    background-color: rgba(0, 0, 0, 0.9);
}


/* Necesario para alinear correctamente las filas */
tbody {
    display: block;
    /* Permite que el scroll funcione correctamente */
    width: 100%;
    /* Mantiene el ancho de la tabla */
}

tr {
    display: table;
    /* Asegura que las filas se comporten como filas de tabla */
    width: 100%;
    /* Mantiene el ancho de cada fila */
    table-layout: fixed;
    /* Permite un diseño fijo */
    height: 50px;
    /* Establece la altura de cada fila */
}

#eliminar-btn {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 10px;
    font-size: 1.5em;
    border: 3px solid #00ff00;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
    transition: all 0.3s ease;
}

#eliminar-btn:hover {
    background-color: #00ff00;
    color: #000000;
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
}

@media (max-width: 600px) {

    table th {
        font-size: 14px;
    }

    table td {
        font-size: 11px;
    }

    table {
        border: 2px solid #00ff00;
    }

    #eliminar-btn {
        display: inline-block;
        width: 130px;
        padding: 20px;
        border: 4px solid #00ff00;
        background-color: rgba(0, 0, 0, 0.9);
        color: #ffffff;
        font-size: 14px;
        text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
        text-decoration: none;
        text-align: center;
        width: 100%;
    }


    /* Contenedor del scroll horizontal */
    #tabla-container {
        overflow-x: auto; /* Scroll horizontal general */
        display: block;
        scrollbar-width: thin;
    }

    /* Scroll horizontal */
    #tabla-container::-webkit-scrollbar {
        height: 12px;
    }

    #tabla-container::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    #tabla-container::-webkit-scrollbar-thumb {
        background: #00ff00;
        border-radius: 10px;
    }

}