* {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
}

body {
    background-image: url("../SOURCE/spacep.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* _________________________CABECERA_________________________ */

/* _________________________MAIN_________________________ */

h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px; /* Espacio debajo del título */
    color: white; /* Color del texto */
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
    top: -50px; /* Ajusta el valor para mover el contenido más arriba o abajo */
}

#tabla-container {
    width: 90%; /* Ajusta al ancho deseado (90% del contenedor principal) */
    max-width: 1200px; /* Controla el ancho máximo para pantallas grandes */
    overflow: hidden; /* Evita el scroll en el contenedor principal */
}

.scrollable-tbody {
    display: block; /* Permite que el scroll se aplique a este bloque */
    max-height: calc(5 * 75px); /* Calcula la altura máxima en función de la altura de las filas */
    overflow-y: auto; /* Habilita el scroll vertical */
}

table {
    width: 100%; /* La tabla ocupará todo el ancho del contenedor */
    border: 4px solid #00ff00;
    border-collapse: collapse;
    margin-top: 20px;
}

table th {
    background-color: #f2f2f2d6;
    color: #333;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.1em;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
}

table td {
    padding: 10px;
    color: #bfbfbf;
    border-bottom: 1px solid #ddd;
    font-size: 1em;
    background-color: #000000c5;
}

/* Necesario para alinear correctamente las filas */
tbody {
    display: block; /* Permite que el scroll funcione correctamente */
    width: 100%; /* Mantiene el ancho de la tabla */
}

tr {
    display: table; /* Asegura que las filas se comporten como filas de tabla */
    width: 100%; /* Mantiene el ancho de cada fila */
    table-layout: fixed; /* Permite un diseño fijo */
    height: 50px; /* Establece la altura de cada fila */
}

#eliminar-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 1em;
    cursor: pointer;
}

/*_________________________FOOTER_________________________*/
