* {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
}

body {
    background-image: url("../../SOURCE/spacep.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.container {
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    justify-content: space-between;
    min-height: 100dvh;
    /* Empuja el footer al fondo */
}