.enemy-easy {
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url('../SOURCE/ovni.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.enemy-medium {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('../SOURCE/ovni2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.enemy-hard {
    position: absolute;
    width: 90px;
    height: 90px;
    background-image: url('images/ovni.png');
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 600px) {
    .enemy-easy {
        width: 40px;
        height: 40px;
    }

    .enemy-medium {
        width: 30px;
        height: 30px;
    }

    .enemy-hard {
        width: 50px;
        height: 50px;
    }
}