.missile {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('../SOURCE/shoot.png');
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 600px) {
    .missile {
        width: 15px;
        height: 15px;
    }
}